extend layouts/default
block content
  .lightGray.sec
    .container
      h2 Hvordan kan vi hjælpe?
      p Måske har du allerede har alle de skabeloner, du har brug for og forstå, hvordan de er brugt. Eller måske du starter fra bunden. Intet problem, vi er eksperter på området og partner med andre eksperter globalt til at hjælpe dig sammen på mange måder, uanset hvilken fase du er på. Vi kan hjælpe dig med.
  .darkGray.sec.center
    .container
      h3 Er du klar til at få styr på dine kunder?
      button.btn.center Prøv det gratis